@import "variables";
@import "nativescript-theme-core/scss/index";
@import "nativescript-theme-core/scss/platforms/index.android";
@import "sidedrawer";

* {
  font-family: "Roboto";
  color: $page-text-color;
}

.fa {
  font-family: "FontAwesome";
  color: $page-icon-color;
}

.page-content {

  .page-placeholder {
      color: $page-text-color;
      font-size: 30;
      vertical-align: center;
      horizontal-align: center;
  }

  .page-icon {
      font-size: 72;
      vertical-align: top;
      horizontal-align: center;
      color: $page-text-color;
      margin-top: 20%;
  }
}

ActionBar {
  margin-top: $status-bar-offset;
  border-width: 1;
  border-color: transparent;
  border-bottom-color: $line-color;
}

ActionBar .action-bar-logo {
  horizontal-align: center;
}

ActionBar .action-bar-title {
  font-style: italic;
  color: $page-text-emphisis-color;
}

ActionBar .action-bar-icon {
  width: 100px;
  margin-right: 20px;
}

ActionBar .fa {
  padding: 40px;
}
